a {
    text-decoration-color:#f30000;
    text-decoration-line: none;
    color:inherit;
}
a:hover{
    color:#f60;
    text-decoration-line: none;
}
body{
    font-family: Tahoma;
    font-size: 0.8em;
    color: #333;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background:
}
#kino{
    color:#f60;
    text-shadow: 0.1em 0.1em #4a4a4a;
}
.markor  h1 a,
.markor span h1,
 .markor mark strong,
 .markor li a,
 .markor p mark,
 .markor h1 mark{
     color: #f60;
 }
figcaption{
    font-size: 0.9em;
}
img {
    height: 25em;
}
.search-container input[type=search],
.search-container button {
    font-size: 1em;
}
.search-container button{
    cursor: pointer;
}
