a, .ufoots p {
    text-decoration-color: #d5d5d5;
    text-decoration-line: none;
    color: #d5d5d5;
}

a:hover {
    text-decoration-line: none;
}
.search_results,
.headers,
aside span h1,
a:hover,
.headers h1 a,
mark,
section span h1,
.triangle{
color:#f60;
}

body {
    font-family: Tahoma;
    font-size: 0.8em;
    color: #333;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: url("images/back.jpg") no-repeat;
    /*background-size: cover;*/
    background-color: #d5d5d5;
}

.res{
color:initial;
}
#kino {
    color: white;
    text-shadow: 0.1em 0.1em #4a4a4a;
    padding-left: 1em;
    padding-top: 0.8em;
}

.headers h1 a,
h1 {
    padding-left: 0.1em;
}

figcaption {
    font-size: 0.9em;
}

figure {
    margin-left: 2em;
}

img {
    height: 25em;
}

.search-container input[type=search] {
    font-size: 1em;
}

.search-container input {
    margin-left: 2em;
}

.search-container button {
    cursor: pointer;
    font-size: 1em;
    height: 1.65em;
}

.search_results {
    background-color: white;
    padding-top: 1em;
    height: 3em;
    padding-left: 0.5em;
    margin-top:1em;
}

.cap {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #585858;
    height: 8em;
    padding-bottom: .2em;
}

.menubar_container {
    background-color: #525252;
    margin-top: 0;
    padding-top: .2em;
    padding-bottom: 0.2em;
    height: 8em;
}
.menubar_container ul{
    list-style-type: none;
}
.picturess {
    margin-right: 5em;
}

.content {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

mark {
    background: transparent;

}

.column {
    margin: auto 25em;
}
/*.search_results,*/
.headers,
aside span h1,
section span h1 {
    border-left: solid currentColor 5px;
    padding-top: 1em;
}

.foots {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #525252;
    height: 6em;
}

section span h1,
aside span h1,
.ufoots {
    padding-left: 2em;
}

.headers {
    padding-left: 3em;
    background: linear-gradient(#f2f2f2, #dfdfdf);
    height: 3.5em;
    padding-top: 0.1em;
    padding-bottom: 0.9em;
}

aside span h1,
section span h1 {
    background: linear-gradient(#f2f2f2, #dfdfdf);
    height: 2em;
    margin-top: 0.5em;
}

.foots .ufoots .ufoots1{
    color: #d5d5d5;
    text-shadow: 0.05em 0.05em currentColor;
    padding-top: .5em;
}

.ufoots address {
    padding-top: .5em;
}

.ufoots .ufoots1 a {
    text-decoration-line: underline;
}


.info1,
.info2,
.info3,
.info4 {
    margin-top: 4em;
    padding-left: 0.5em;
}

.info3 {
    padding-bottom: 1em;
}

footer {
    margin-top: 1em;
}

.triangle::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 11px solid currentColor;
    position: relative;
    bottom: 11px;
    left: 5px;
}
